body {
  font-family: 'Comic Sans MS', sans-serif;
  text-align: center;
  background: #333;
  color: #333;
  margin: 0;
  padding: 20px;
}

button{
  width: 80px;
  height: 35px;
  border-radius: 100px;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background 0.4s, transform 0.2s, border 0.4s;
}

h1 {
  margin-bottom: 20px;
  color: #f3f3f3;
}

.busqueda input {
  padding: 8px;
  border-radius: 5px;
  width: 250px;
  border: 1px solid #aaa;
  border-radius: 100px;
  background-color: #fff;
  color: #333;
  padding: 10px;
}

.busqueda input:focus {
  outline: none;
  border-color: #777;
}

.busqueda button:hover,
.navegacion button:hover {
  background-color: #d5d5d5;
  border-color: #888;
  transform: scale(1.05);
}

.card {
  border-radius: 15px;
  padding: 20px;
  width: 320px;
  margin: 20px auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background: #ffffff;
  transition: background 0.4s, transform 0.2s, border 0.4s;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 200px;
  border-radius: 10px;
  display: block;
  margin: 0 auto 10px;
}

.stats {
  text-align: left;
  margin-top: 10px;
}

.stats p {
  margin: 5px 0;
}

.card.planta {
  background: #c8e6c9;
  border: 3px solid #2e7d32;
  box-shadow: 0 5px 15px rgba(46, 125, 50, 0.4);
  min-height: 10rem;
}

.card.zombie {
  background: #e1bee7;
  border: 3px solid #6a1b9a;
  box-shadow: 0 5px 15px rgba(106, 27, 154, 0.4);
  min-height: 10rem;
}
