* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #eeeeee;
  padding: 2rem;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
}

form {
  background-color: white;
  padding: 3rem;
  margin: 2rem 0;
  border-radius: 1rem;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.contenedor-formulario {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="time"] {
  border-radius: 0.5rem;
  padding: 0.8rem;
  border: solid 1px #b1b1b1;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="time"]:focus {
  outline: none;
  border-color: #3B82F6;
}

input[type="submit"], button {
  background-color: #e1e1e1;
  width: fit-content;
  padding: 0.8rem 2rem;
  color: black;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  align-self: center;
  margin-top: 1rem;
}

input[type="submit"]:hover, button:hover {
  background-color: #3B82F6;
  color: white;
}